.alert {
  padding: 20px;
  background-color: #5475FE;
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

small {
  color: black;
}

.left {
  float: left;
}

.right {
  float: right;
}

.middle {
  float: center;
}

input[type=submit] {
  background-color: #5475FE;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 20px;
}

.submit {
  background-color: #5475FE;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 16px;
  font-size: medium;
}

.iframe {
  position: relative;
  right: 25%;
  top: 10px;
}

.contract {
  position: absolute;
  left: 55%;
  top: 500px
}

.message {
  font-size: medium;
}

.info {
  font-size: small;
  color: black
}

.messages {
  position: relative;
  left: 495px;
  width: 200px;
  height: 300px;
  overflow-y: scroll;
  border-style:solid;
  border-color: black;
  border-width: 2px;
  padding: 15px;
  text-align: left;
}

.send {
  font-size: medium;
  width: 260px;
  height: 75px;
}

.session-form {
  position: relative;
  text-align: center;
  top: 30px;  
}