{% extends "layout.html" %}
{% block body %}
<body class="full-screen flex-center">
  Hello, {{ name }}. 
  <br>
  <br>
  <form action="/" method="POST">
    View messages with: <select name="user" onchange="this.form.submit();">
      <option selected disabled value=""></option>
      {% if admins is defined %}
        {% for admin in admins %}
          <option value="{{ admin }}">{{ admin }} (admin)</option>
        {% endfor %}
      {% endif %}
      
      {% if assignment is defined %}
        <option value="{{ assignment }}">{{ assignment }}</option>
        </select>
       </form> 
      {% else %}
        </select>
      </form>
        <br>
        <br>
        {% if type == "students" %}
          You do not have an assigned tutor to message yet. Please make sure you selected a tutor. If you have any questions, please message our admins.
          <a href="/tutor-selection">  
            <input type="submit" value="Select a tutor">  
          </a>
        {% else %}
          You do not have an assigned student to message yet. Please check back later for your assignment. If you have any questions, please message our admins.
        {% endif %}
      {% endif %}
  <br>  
  <br>
  {% if receiver is defined %}
    <h4>{{ receiver }}</h4>
    {% if messagesPresent == true %}
      {% for message in messageList %}
        {{ message["sender"] }} on {{ message["time"] }} <br> {{ message["message"] }} <br><br>
      {% endfor %}
    {% else %}
      You don't have any messages with {{ receiver }}. Send a message to start a conversation.
    {% endif %}
    <br>
    <br>
    <form action="/send" method="POST">
      <input type="hidden" name="receiver" value="{{ receiver }}">
      <input type="text" name="message" required>
      <input type="submit" value="Send">
    </form>
    <br>
    <br>
  {% endif %}
  {% if type == "tutors" %}
    <a href="/record-session">  
      <input type="submit" value="Record a session">  
    </a>
  {% endif %}
  <br>
  <br>
  <a href="/logout">Log Out</a>
</body>
{% endblock %}