{% extends "layout.html" %}
{% block heading %}<h2>Dashboard</h2>{% endblock %}
{% block body %}
<body class="full-screen flex-center" onload="location.assign('/home#scrollDiv')">
  <br><br>
  <form action="/home" method="POST">
    View messages with: <select name="user" onchange="this.form.submit();">
      <option selected disabled value=""></option>
      {% if admins is defined %}
        {% for admin in admins %}
          <option value="{{ admin }}">{{ admin }} (admin)</option>
        {% endfor %}
      {% endif %}
      {% if assignment is not none %}
        <option value="{{ assignment }}">{{ assignment }}</option>
        </select>
      </form> 
      {% else %}
        </select>
      </form>
        <br>
        <br>
        {% if type == "students" %}
          <small>You do not have an assigned tutor to message yet. Please make sure you <a href="/tutor-selection">selected a tutor.</a><br>If you have any questions, please message our admins.</small>
        {% else %}
          <small>You do not have an assigned student to message yet. Please check back later for your assignment.<br>If you have any questions, please message our admins.</small>
        {% endif %}
      {% endif %}
  <br><br>
  {% if receiver is defined %}
    <h5>{{ receiver }}</h5>
    <br>
    <div class="messages" id="messages">
      {% if messagesPresent == true %}
        {% for message in messageList %}
        <div class="info">{{ message["sender"] }}<br>{{ message["date"] }}  {{ message["time"] }}</div><div class="message">{{ message["message"] }}</div><br>
        {% endfor %}
      {% else %}
        You don't have any messages with {{ receiver }}. Send a message to start a conversation.
      {% endif %}
      <div id="scrollDiv"></div>
    </div>
    <br>
    <form action="/send" method="POST">
      <input type="hidden" name="receiver" value="{{ receiver }}">
      <textarea class="send" name="message" required></textarea><br>
      <input type="submit" value="Send">
    </form>
    <br>
  {% endif %}
  {% if type == "tutors" %}
    <a href="/record-session">  
      <input type="submit" value="Record a session">  
    </a>
    <br>
    <br>
  {% endif %}
  <a href="/logout">Log Out</a>
</body>
{% endblock %}