{% extends "layout.html" %}
{% block heading %}<h2>Log In</h2>{% endblock %}
{% block body %}
<br><br>
<body class="full-screen">
  <form action="/login" method="POST">
    Email: <small><input type="email" name="email" required></small>
    <br><br>
    Password: <small><input type="password" name="password" required></small>
    <br><br>
    <input class="button" type="submit" value="Log In">
    <br>
    <br>
  </form>
  <small>Don't have an account? Register as a <a href="/register-student">Student</a> or <a href="/register-tutor">Tutor</a></small>
  <br>
  <small>Forgot your password? <a href="/reset">Reset It</a></small>
</body>
{% endblock %}