{% extends "layout.html" %}
{% block body %}
<h1>Re-assign Students/Tutors</h1>
<body class="full-screen flex-center">
  <form action="/change-assignments" method="POST">
    <select name="tutor" required>
        <option selected disabled value="">Tutor</option>
        {% if tutors is defined %}
            {% for tutor in tutors %}
                <option value="{{ tutor }}">{{ tutor }}</option>
            {% endfor %}
        {% endif %}
    </select>
    <select name="student" required>
        <option selected disabled value="">Student</option>
        {% if students is defined %}
            {% for student in students %}
                <option value="{{ student }}">{{ student }}</option>
            {% endfor %}
        {% endif %}
        <br>
    </select>
    <input type="submit" value="Re-assign">
  </form>
  <br><br>
  Note: Re-assigning a student and tutor will replace their original assignments.
  <br><br>
  <a href="/home">Back to Dashboard</a>
  <br><br>
  <a href="/logout">Log Out</a>
</body>
{% endblock %}