{% extends "layout.html" %}
{% block heading %}<h2>Record A Session</h2>{% endblock %}
{% block body %}    
<br>
<div class="session-form">
    <form action="/record-session" method="POST" enctype="multipart/form-data">
        Start Time:  <input type="time" name="start" step="60" required><br><br>
        End Time:  <input type="time" name="end" step="60" required><br><br>
        Student:  <select name="student">
            <option value="" selected disabled></option>
            {% for student in students %}
                <option value="{{ student }}">{{ student }}</option>
            {% endfor %}
        </select><br><br>
        Subject:  <select name="subject" required>
            <option value="" selected disabled></option>
            <option value="Math">Math</option>
            <option value="Reading">Reading</option>
            <option value="Language Arts">Language Arts</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Physics">Physics</option>
        </select><br><br>
        Specific Topic:  <input type="text" name="topic" required>
        <br><br>
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload Session Screenshot</label>
            <input class="form-control" type="file" id="formFile" name="screenshot">
        </div>
        <br>
        <input type="submit" value="Record Session">
    </form>
</div>
<br><br><br>
<a href="/home">Back to Dashboard</a>
<br><br>
<a href="/logout">Log Out</a>
{% endblock %}