{% extends "layout.html" %}
{% block extra %}
  <meta http-equiv="refresh" content="1;url=/email-verification">
{% endblock %}
{% block body %}
  A verification email has been sent to {{ email }}. Please verify your email and reload the page to gain access to your account. Make sure to check your spam folder.
  <br>
  <form action="/email-verification" method="POST">
    <input type="submit" value="Resend verification email">
  </form>
  <br>
  <br>
  <a href="/logout">Log Out</a>
{% endblock %}